        <div class="row aboutText">
            <div class="col col-10 center icon">
                <img src="img/information.svg">
            </div>
            <div class="col text">
                <p class="bold title"><img src="img/information.svg"> Az alkalmazásról (v-.-)</p>
                <p>
                    Az alkalmazás célja a Natura 2000 hálózat védett területeivel kapcsolatos tájékoztatás.  Lehetővé teszi a felhasználók számára, hogy elküldjék egy-egy területre vonatkozó képeiket, illetve megosszák a helyszínen tett látogatásuk kapcsán szerzett benyomásaikat.  A védett területek jelöléséhez és megtekintéséhez a felhasználóknak nem kell regisztrálnia és bejelentkeznie. Viszont ha képeket és megjegyzéseket szeretne küldeni, akkor kérjük, menjen <a ui-sref="app.login">a bejelentkezés</a> oldalra először!
                </p>
                <p>A felhasználóktól származó képek és megjegyzések nyilvánossá tétele <a ng-click="openExternalLink('http://ec.europa.eu/environment/nature/natura2000/index_en.htm')">itt történik</a>.</p>
                <p>Az applikáció angol nyelvű, részletes felhasználói útmutatója letölthető a következő <a ng-click="openExternalLink('http://digitalearthlab.jrc.ec.europa.eu/sites/default/files/mynatura2000_app_userguide.pdf')">linkről</a>.</p>
            </div>
        </div>
        <div class="row contact">
            <div class="col col-10 center icon">
                <img src="img/contact.svg">
            </div>
            <div class="col text">
                <p class="title"><span class="bold"><img src="img/contact.svg"> Európai Bizottság</span><br/>
                Közös Kutatóközpont (Joint Research Centre)
                </p>
                <p><a class="linkLike" ng-click="openExternalLink('mailto:ec-mygeoss@ec.europa.eu')">ec-mygeoss@ec.europa.eu</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col center bigicon">
                <img src="img/nat2000.svg">
            </div>
        </div>
        <div class="row">
            <div class="col center">
            	<br/><br/>
            </div>
        </div>
        <div class="row links">
            <div class="col col-10 center icon">
                <img src="img/links.svg">
            </div>
            <div class="col text">
                <p class="bold title"><img src="img/links.svg"> Natura 2000<p/>
                <p><a ng-click="openExternalLink('http://ec.europa.eu/environment/nature/natura2000/index_en.htm')">Natura 2000</a>  ia védett területek legnagyobb koordinált hálózata a világon. Európa szárazföldi területének több mint 18% -át és a tengeri területeinek majdnem 6%-át fedi le, menedéket kínálva ezzel Európa legértékesebb és legveszélyeztetettebb fajainak és élőhelyeinek.</p>
            </div>
        </div>
