        <div class="row aboutText">
            <div class="col col-10 center icon">
                <img src="img/information.svg">
            </div>
            <div class="col text">
                <p class="bold title"><img src="img/information.svg"> Informazioni (v-.-)</p>
                <p>
                    Lo scopo di questa app è fornire informazioni sulle aree protette della rete Natura 2000 e consentire all'utente di inviare immagini raccolte in ciascun sito e fornire un'impressione generale della visita a ciascun sito. Per selezionare e visualizzare le aree protette non è necessario registrarsi e accedere, ma per inviare immagini e commenti è necessario andare per prima alla pagina <a ui-sref="app.login">accedi</a>.
                </p>
                <p>Le immagini e i commenti forniti dagli utenti sono pubblicati <a ng-click="openExternalLink('http://ec.europa.eu/environment/nature/natura2000/index_en.htm')">qua</a>.</p>
                <p>La guida dettagliata per l'utente in lingua inglese per questa App può essere scaricata dal seguente <a ng-click="openExternalLink('http://digitalearthlab.jrc.ec.europa.eu/sites/default/files/mynatura2000_app_userguide.pdf')">link</a>.</p>
            </div>
        </div>
        <div class="row contact">
            <div class="col col-10 center icon">
                <img src="img/contact.svg">
            </div>
            <div class="col text">
                <p class="title"><span class="bold"><img src="img/contact.svg"> Commissione Europea</span><br/>
                Centro Comune di Ricerca
                </p>
                <p><a class="linkLike" ng-click="openExternalLink('mailto:ec-mygeoss@ec.europa.eu')">ec-mygeoss@ec.europa.eu</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col center bigicon">
                <img src="img/nat2000.svg">
            </div>
        </div>
        <div class="row">
            <div class="col center">
            	<br/><br/>
            </div>
        </div>
        <div class="row links">
            <div class="col col-10 center icon">
                <img src="img/links.svg">
            </div>
            <div class="col text">
                <p class="bold title"><img src="img/links.svg"> Natura 2000<p/>
                <p><a ng-click="openExternalLink('http://ec.europa.eu/environment/nature/natura2000/index_en.htm')">Natura 2000</a>  è la più grande rete coordinata di aree protette nel mondo. Si estende per oltre il 18% della superficie terrestre dell'UE e quasi il 6% del suo territorio marino, offrendo rifugio alle specie e agli habitat più preziosi e minacciati d'Europa.</p>
            </div>
        </div>
