<h1>INFORMAȚII PERSONALE PUBLICATE PE WEBSITEUL SAU APLICAȚIILE MYGEOSS</h1>
<p>Toate informațiile personale afișate pe site-ul web MYGEOSS sau în aplicațiile MYGEOSS fac obiectul următoarei Declarații specifice de confidențialitate, acceptată de persoana vizată înainte de colectarea datelor sale personale, și este publicată cu consimțământul său neechivoc.</p>
<h2>DECLARAȚIE SPECIFICĂ DE CONFIDENȚIALITATE</h2>
<h3>1. Descriere</h3>
<p>e_Services sunt instrumente de pe site-urile de internet ale Centrului Comun de Cercetare (JRC), care permit unei comunități de cercetare (de ex. comisie, grup de lucru, grup de proiecte etc.) extinse geografic în întreaga Europă să poată face schimb de informații, documente, și de a putea participa la forumuri de discuții, să poată descărca software-ul, subscrie la publicațiile JRC etc. Datele dvs. personale vor fi colectate și prelucrate în continuare pentru scopurile detaliate la punctul 2. Pentru mai multe detalii, consultați <a ng-click="openExternalLink('http://ec.europa.eu/dpo-register/detail/DPO-2176-4')">DPO-2176-4 E-SERVICES pe site-ul JRC</a>.</p>
<p>Acest e-Service este operat de unitatea de economie digitală, Centrul Comun de Cercetare (JRC). Șeful unității de economie digitală care gestionează procesarea datelor personale acționează ca procesor de date cu caracter personal.</p>
<p>Întrucât această prelucrare colectează și prelucrează în continuare datele cu caracter personal, se aplică Regulamentul (CE) nr. 45/2001 al Parlamentului European și al Consiliului din 18 decembrie 2000 privind protecția persoanelor fizice cu privire la prelucrarea datelor cu caracter personal de către instituțiile și organele comunitare și privind libera circulație a acestor date.</p>
<h3>2. Ce informații personale colectăm, care este temeiul juridic, în ce scop și prin ce mijloace tehnice?</h3>
<h4>Datele de identificare:</h4>
<p>Datele personale colectate și prelucrate ulterior pot include: numele, prenumele, organizația, titlul, funcția, adresa de lucru pentru serviciu, adresa de e-mail de lucru, numărul de telefon de serviciu, numărul de fax al locului de muncă, fotografii individuale și de grup, date privind data și locația fișierelor colectate printr-un dispozitiv personal.</p>
<h4>Bazele legale ale procesării:</h4>
<p>Acte juridice care stabilesc programele-cadru succesive de cercetare pentru UE și Euratom și actele lor de punere în aplicare.</p>
<p>Înregistrarea și participarea persoanelor care furnizează date este pur voluntară. Persoanele vizate și-au dat fără echivoc consimțământul (articolul 5 litera (d) din Regulamentul (CE) nr. 45/2001).</p>
<p>Această prelucrare este legală în conformitate cu articolul 5 litera (a) din Regulamentul (CE) nr. 45/2001.</p>
<p>Această prelucrare a datelor cu caracter personal nu este supusă articolelor 20 și 27.</p>
<h4>Scopul prelucrării:</h4>
<p>Scopul prelucrării datelor cu caracter personal este asigurarea accesului securizat și a schimbului de informații, gestionarea bazelor de date, inclusiv gestionarea comunicațiilor către comunitatea MYGEOSS. Membrii înregistrați pot alege nivelul preferat de confidențialitate și gradul de publicare a propriului profil.</p>
<h4>Informații tehnice:</h4>
<p>Datele utilizatorilor sunt colectate prin intermediul formularelor web și stocate într-o bază de date.</p>
<h3>3. Cine are acces la informațiile dvs. și cui sunt acestea dezvăluite?</h3>
<p>Membrii înregistrați pot alege nivelul preferat de confidențialitate al fiecărei observații trimise prin decizia de a permite asocierea numelui de utilizator cu observațiile trimise, când sunt acestea publicate.</p>
<p>Comisia Europeană nu va împărtăși date cu terțe părți pentru marketingul direct.</p>
<h3>4. Cum protejăm informațiile dvs.?</h3>
<p>Datele cu caracter personal colectate sunt stocate pe serverele JRC și stau la baza Deciziei Comisiei C (2006) nr. 3602 din 17 august 2006 &ldquo;privind securitatea sistemelor informatice utilizate de Comisia Europeană&rdquo;definește măsurile de securitate IT în vigoare. Anexa I definește cerințele de securitate ale sistemelor informatice ale CE. Anexa II definește diferiții actori și responsabilitățile acestora. Anexa III definește regulile aplicabile de către utilizatori. Vedeți notificarea DPO-1946.</p>
<h3>5. Cum puteți verifica, modifica sau șterge informațiile dvs.?</h3>
<p>Utilizatorii înregistrați au acces direct pe internet la profilul lor, protejat prin parolă, pe care îl pot actualiza sau își pot anula înregistrarea sau pot solicita dezabonarea de la anumite grupuri de interese și / sau publicații.</p>
<h3>6. Cât timp păstrăm datele dvs.?</h3>
<p>Datele dvs. personale vor rămâne în baza de date până la sfârșitul proiectului sau timp de maxim 4 ani începând de la completarea formularului de înregistrare pe Internet, cu excepția cazului în care Operatorul lansează o actualizare a înregistrărilor, solicitând ca subiecții datelor să actualizeze sau să anuleze informațiile stocate, inclusiv datele lor personale.</p>
<p>Utilizatorii înregistrați au acces direct la site-ul web protejat prin parolă și își pot anula înregistrarea în orice moment. În unele cazuri, user_id-urile neutilizate pentru o perioadă definită sunt șterse automat din sistem.</p>
<h3>7. Informatii de contact</h3>
<p>Dacă aveți întrebări cu privire la prelucrarea datelor dvs. personale, adresați-le operatorului. În cazul întrebărilor referitoare la protecția datelor cu caracter personal, puteți contacta:</p>
<ul>
<li>Coordonatorul DG JRC pentru protectia datelor: <a ng-click="openExternalLink('mailto:jrc-data-protection-coordinator@ec.europa.eu')">jrc-data-protection-coordinator@ec.europa.eu</a></li>
<li>Comisie Ofițerul responsabil pentru protecția datelor: <a ng-click="openExternalLink('mailto:data-protection-officer@ec.europa.eu')">data-protection-officer@ec.europa.eu</a></li>
</ul>
<h3>8. Reclamații</h3>
<p>În cazul unei dispute, puteți trimite o reclamație la:</p>
<ul>
<li>Autoritatea Europeană pentru Protecția Datelor: <a ng-click="openExternalLink('mailto:edps@edps.europa.eu')">edps@edps.europa.eu</a></li>
</ul>
<h2>COLECTAREA ANONIMĂ A TRAFICULUI DE DATE PE SITE-UL MYGEOSS</h2>
<p>Când cineva navighează pe site-ul web MYGEOSS, informațiile despre utilizarea anonimă a site-ului sunt colectate prin diverse mijloace tehnice. Utilizarea site-ului este înregistrată în fișierele de jurnal. Aceste fișiere nu conțin informații personale și nici informații despre alte site-uri pe care vizitatorul le-a vizitat. Acestea permit JRC să îmbunătățească serviciul prin cunoașterea utilizării acestuia și sunt procesate în mod anonim.</p>