<ion-modal-view class="sidemenu-modal">
    <ion-header-bar>
        <h1 class="title">{{ 'DEFST' | translate }}</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeInfoListModal()"><span class="ion-close-circled"> {{ 'CLOS' | translate }}</span></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div>
            <p><small>
                    {{ 'DEFST1' | translate }}
                    <br>
                    {{ 'DEFST2' | translate }}
                    <br>
                    {{ 'DEFST3' | translate }}
            
            </small></p>
            
            <p class="textpic"><img src='img/sitetype/1.svg'> {{ 'SCI' | translate }}</p>
            <p class="textpic"><img src='img/sitetype/2.svg'> {{ 'SPA' | translate }}</p>
            <p class="textpic"><img src='img/sitetype/3.svg'> {{ 'SCISPA' | translate }}</p>
            
        </div>
    </ion-content>
</ion-modal-view>
