        <div class="row aboutText">
            <div class="col col-10 center icon">
                <img src="img/information.svg">
            </div>
            <div class="col text">
                <p class="bold title"><img src="img/information.svg"> À propos de l'application (v-.-)</p>
                <p>
                    Le but de cette application est de fournir des informations sur les zones protégées du réseau Natura 2000 et vous permettre d'envoyer des photos collectées dans chaque site ainsi que de donner une impression globale de votre visite sur chaque site. Pour sélectionner et afficher les zones protégées, vous n'avez pas besoin de vous enregistrer et de vous connecter, mais pour envoyer des photos et des commentaires, vous devez vous rendre à <a ui-sref="app.login">Ouvrir une session</a> première page.
                </p>
                <p>Les images et commentaires fournis par les utilisateurs sont publiés <a ng-click="openExternalLink('http://ec.europa.eu/environment/nature/natura2000/index_en.htm')">ici</a>.</p>
                <p>Un guide d'utilisation détaillé de l'application en anglais peut être téléchargé au <a ng-click="openExternalLink('http://digitalearthlab.jrc.ec.europa.eu/sites/default/files/mynatura2000_app_userguide.pdf')">lien</a> suivant.</p>
            </div>
        </div>
        <div class="row contact">
            <div class="col col-10 center icon">
                <img src="img/contact.svg">
            </div>
            <div class="col text">
                <p class="title"><span class="bold"><img src="img/contact.svg"> Commission Européenne</span><br/>
                Centre Commun de Recherche
                </p>
                <p><a class="linkLike" ng-click="openExternalLink('mailto:ec-mygeoss@ec.europa.eu')">ec-mygeoss@ec.europa.eu</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col center bigicon">
                <img src="img/nat2000.svg">
            </div>
        </div>
        <div class="row">
            <div class="col center">
            	<br/><br/>
            </div>
        </div>
        <div class="row links">
            <div class="col col-10 center icon">
                <img src="img/links.svg">
            </div>
            <div class="col text">
                <p class="bold title"><img src="img/links.svg"> Natura 2000<p/>
                <p><a ng-click="openExternalLink('http://ec.europa.eu/environment/nature/natura2000/index_en.htm')">Natura 2000</a>  est le plus grand réseau coordonné d'aires protégées dans le monde. Il s'étend sur plus de 18% de la superficie de l'UE et près de 6% de son territoire marin, offrant un refuge aux espèces et habitats les plus précieux et les plus menacés d'Europe.</p>
            </div>
        </div>
