<p>Cette application fait l’objet d’une clause de non-responsabilité, d'une déclaration concernant les droits d'auteur et de règles relatives à la protection des données à caractère personnel.</p><br>

<p class="sidemenu-modal-content-title">Clause de non-responsabilité</p><br>
<p><a ng-click="openMenuModal('disclaimer')">Voir clause de non-responsabilité</a></p><br/>

<p class="sidemenu-modal-content-title">Déclaration concernant les droits d'auteur</p><br>
<p>© Union Européenne, 1995-2019 </p>
<p>Réutilisation autorisée moyennant mention de la source. La politique de la Commission en matière de réutilisation de l'information est mise en œuvre par la <a ng-click="openExternalLink('http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2011:330:0039:0042:EN:PDF')">Décision du 12 décembre 2011</a>.</p><br>

<p>Le principe général de réutilisation peut être soumis à des conditions définies dans des déclarations spécifiques concernant les droits d'auteur. Les utilisateurs sont donc invités à se référer aux déclarations relatives aux droits d'auteur figurant sur les différents sites hébergés par Europa, ainsi qu'à celles qui sont jointes à certains documents. Le principe de réutilisation ne s'applique pas aux documents soumis aux droits de propriété intellectuelle de tiers.</p>

<p>Le code de cette application est open source et sous licence publique EU, voir <a ng-click="openExternalLink('http://digitalearthlab.jrc.ec.europa.eu/mygeoss')">http://digitalearthlab.jrc.ec.europa.eu/mygeoss</a>.</p><br>

<p class="sidemenu-modal-content-title">Protection des données à caractère personnel</p><br>

<p>L’Union européenne est attachée au respect de la vie privée. <br/>
    La politique en matière de «protection des personnes physiques à l’égard du traitement des données à caractère personnel par les institutions et organes communautaires» se fonde actuellement sur le <a ng-click="openExternalLink('http://eur-lex.europa.eu/LexUriServ/LexUriServ.do?uri=OJ:L:2001:008:0001:0022:EN:PDF')" >Règlement (CE) n ° 45/2001</a> du Parlement Européen et du Conseil du 18 décembre 2000. </p><br>

<p>Les informations personnelles collectées par cette application sont traitées selon les spécificités de la <a ng-click="openMenuModal('privacyStatement')">déclaration relative à la protection de la vie privée</a>.</p><br>